# 临时文件夹 #
#####################
temp
template
output

# 此文件过大，不要提交 #
###########################################
/input-cache/org.hl7.fhir.publisher.jar

# Windows 生成的文件 #
###########################
Thumbs.db

# OS 生成的文件 #
######################
.DS_Store
.DS_Store?

# 备份文件 #
################
*.bak
